.cheng-left{
    background: #0c5460;
}
.cheng-right{
    background: #e83e8c;
}
.cheng-icon{
    height: 48px;
    width: 48px;
}
.card-header{
    height: 42px;
    line-height: 42px;
    padding: 0 15px;
    color: #333;
    border-radius: 2px 2px 0 0;
    font-size: 14px;
}
.layui-card-body{
    padding: 10px 15px;
    line-height: 24px;
}
.left-art-list{
    background: #e83e8c;
    margin-top: 10px;
    display: block;
}
.cheng-userinfo{
    margin-bottom: 10px;
    display: block;
}
.left-art-list-li {
    padding: 5px;
    line-height: 20px;
    text-align: center;
    background-color: #79C48C;
    color: #fff;
}
.layui-fluid {
    padding: 15px;
}

.cheng-text {
    line-height: 22px;
    font-size: 14px;
    color: #666;
    height: 900px;
}
.cheng-card-body {

    line-height: 24px;
}
.cheng-footer {

    padding: 20px 0 30px;
    line-height: 30px;
    text-align: center;
    color: #737573;
    border-top: 1px solid #e2e2e2;
}